
<div id="postShow_wrapper">
	<div id="post_username">
		<h5> This post was written by <%= @user.first_name %> </h5>
	</div>

	<div id="post_title">
		<h3> <%= @post.title %> </h3>
	</div>

	<div id="post_content">
		<p> <%= @post.content %> </p>
	</div>
</div>

<div id="post_comments_wrapper">
	<div>
		<%= form_with model: @comment, local: true do |f| %>
			<%= f.hidden_field :post_id, value:@post.id %>
			<%= f.label :comment %>
			<%= f.text_area :content, :size => "40%x10%" %>
			<br>
			<%= f.submit %>
		<% end %>
	</div>

	<div>
		<% @post.comments.each do |comment| %>
			<%= comment.content %>	
		<% end %>
	</div>
</div>